.body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: 20% 30%;
}


.body__pharagraph {
    text-align: center;
    font-weight: bold;
    Color:rgba(5, 5, 5, 0.986);
}