.form__fieldset {
    border-radius: 10px;
   border: 2px solid rgb(102, 99, 99);
   padding: 20px;
}

.form__amount {
border: 2px solid rgb(102, 99, 99);
border-radius: 5px;
padding: 5px;
}

.form__legend {
    background-color: rgba(97, 95, 95, 0.384);
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 253, 253);
    text-transform: uppercase;
}

.form__button {
    background-color: rgba(97, 95, 95, 0.384);
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: none;
}

.form__select {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(102, 99, 99);
    width: 250px;
}

.form__labelText {
    width: 150px;
    display: inline-block;
    margin-right: 5px;
    padding:5px;
}